<h1>/users/:id - This should show all of the details of a particular user</h1>

<p><b>Full name:</b> <%= "#{ @user.first_name } #{ @user.last_name }" %></p>

<p><b>Email:</b> <%= @user.email %></p>

<p><b>Created At:</b> <%= @user.created_at.strftime( '%A, %B %e, %Y' ) %></p>